@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,700&display=swap");
body {
  font-family: "IBM Plex Sans";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans";
}

p {
  color: #2c3a46;
}

a {
  color: #fd3900;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
}

@media (max-width: 767px) {
  .breadcrumb {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .breadcrumb a {
    font-size: 0.75rem;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: ">";
}

@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    font-size: 0.6rem;
  }
}

input.form-control {
  height: 45px;
}

textarea, input, .form-control {
  border-radius: 0;
}

button, .btn-warning, .btn-warning:hover, .btn-warning:focus {
  background: #fd3900;
  border-color: #fd3900;
  color: #fff;
  border-radius: 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
textarea:active,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #fd3900;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: .25rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #fd3900;
  background-color: #fd3900;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #fd3900;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 none;
  border-radius: 0;
}

.main-header {
  background: url(../images/misc/header-image.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
}

@media (max-width: 767px) {
  .main-header {
    height: 100vh;
  }
}

.main-header nav {
  margin-top: 15px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .main-header nav {
    background: rgba(0, 0, 0, 0.9);
  }
}

@media (max-width: 1024px) {
  .main-header nav {
    background: rgba(0, 0, 0, 0.9);
  }
}

.main-header .nav-link {
  color: #fff;
}

#registration-form {
  position: absolute;
  top: 10%;
  width: 100%;
  right: 0;
  left: 0;
  margin-bottom: 5rem;
}

@media (max-width: 767px) {
  #registration-form {
    top: 20%;
  }
}

.event-header {
  margin: 30px 0;
  text-align: center;
}

.event-header h6 {
  font-weight: 200;
  color: #fff;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .event-header h6 {
    font-size: 1rem;
    font-weight: 200;
  }
}

@media (max-width: 1024px) {
  .event-header h6 {
    font-size: 1.5rem;
  }
}

.event-header h3 {
  font-weight: 200;
  color: #fff;
  font-size: 2.25rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .event-header h3 {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  .event-header h3 {
    font-size: 3.5rem;
  }
}

.event-header p {
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
  padding: 0;
  margin: 30px 0 0 0;
  line-height: 1.25;
}

@media (max-width: 767px) {
  .event-header p {
    font-size: 0.75rem;
    padding: 0 1rem;
  }
}

.form-content {
  background: #fff;
  border: solid 1px #ddd;
}

.form-head {
  border-bottom: solid 1px #ddd;
  padding: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .form-head {
    padding: 20px;
  }
}

.form-body {
  border-bottom: solid 1px #ddd;
  padding: 40px;
}

@media (max-width: 767px) {
  .form-body {
    padding: 20px;
  }
}

.form-body span.req {
  color: #fd3900;
}

.form-body form {
  margin: 15px 0;
}

.form-body label {
  font-family: "IBM Plex Sans";
  font-size: 15px;
}

.form-body small {
  text-transform: uppercase;
  opacity: .75;
  font-family: "IBM Plex Sans";
}

.session-box {
  border: solid 1px #fd3900;
  padding: 30px;
  position: relative;
  margin: 15px 0;
}

.session-box h6 {
  color: #2c3a46;
}

.session-box h3 {
  color: #fd3900;
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  .session-box h3 {
    font-size: 1rem;
  }
}

.session-box p.session-detail {
  font-size: 0.9rem;
  line-height: 1.25;
  opacity: .8;
}

.session-box .speaker-widget {
  margin-top: 30px;
}

.session-box .speaker-widget img {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.session-box .speaker-widget p.speaker-name {
  font-size: 0.9rem;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.session-box .speaker-widget p.session-time {
  font-size: 0.9rem;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

.session-box .slot-widget {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

@media (max-width: 767px) {
  .session-box .slot-widget {
    position: relative;
    margin-top: 30px;
    right: 0;
    bottom: 0;
  }
}

.session-box .slot-widget span {
  background: #fd3900;
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
}

.session-box .session-select {
  position: absolute;
  right: 20px;
  top: 25px;
}

.session-box.no-slot {
  background: #adadad;
  border-color: #2c3a46;
}

.session-box.no-slot h3 {
  color: #2c3a46;
}

.session-box.no-slot .session-select {
  display: none;
}

.session-box.no-slot .slot-widget span {
  background: #2c3a46;
}

.total-select h6 {
  color: #fd3900;
}

.form-footer {
  padding: 40px;
}

@media (max-width: 767px) {
  .form-footer {
    padding: 20px;
  }
}

.form-footer button, .form-footer .btn-warning, .form-footer .btn-warning:hover, .form-footer .btn-warning::focus {
  background: #fd3900;
  border-color: #fd3900;
  color: #fff;
  border-radius: 0;
}

.form-footer .btn.btn-warning {
  background: #fd3900;
  border-color: #fd3900;
  color: #fff;
  border-radius: 0;
}

.form-footer .btn.btn-warning:active,
.form-footer .btn.btn-warning:hover,
.form-footer .btn.btn-warning:focus {
  background: #fd3900;
  border-color: #fd3900;
  color: #fff;
  border-radius: 0;
}

.session-box-checked {
  border-color: #fd3900;
}

.session-box-checked h3 {
  color: #fd3900;
}

.session-box-unchecked {
  border-color: #2c3a46;
}

.session-box-unchecked h3 {
  color: #2c3a46;
}

#paypal-buttons {
  margin: 15px 0;
  display: none;
}

.tran-row th:first-child {
  white-space: nowrap;
}

.tran-row {
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .confirm-success {
    text-align: center;
  }
}

.confirm-success img {
  float: left;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .confirm-success img {
    float: none;
    margin: 0 0 20px 0;
  }
}

.confirm-success p {
  font-size: 0.9 0.9rem;
}

.confirm-success .part-email {
  font-weight: 700;
}

.confirm-summary {
  margin-bottom: 30px;
  padding: 20px;
  background: #f0f0f0;
}

.confirm-summary img {
  width: 100%;
}

@media (max-width: 767px) {
  .confirm-summary img {
    margin: 0 0 15px 0;
  }
}

.confirm-summary .confirm-status h5 {
  background: #fd3900;
  color: #fff;
  padding: 10px 20px;
}

.confirm-summary .confirm-status tr {
  font-size: 1rem;
}

@media (max-width: 767px) {
  .confirm-summary .confirm-status tr {
    font-size: 0.8rem;
    white-space: nowrap;
  }
}

.modal .modal-content {
  border-radius: 0;
  border: 0;
}

.modal .modal.show .modal-dialog {
  border-radius: 0;
}

.modal .modal-header {
  border-radius: 0;
}

.modal .modal-footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0;
}
/*# sourceMappingURL=style.css.map */